.fighter-name {
  color: white;
  margin-top: 3rem;
}

.hero-container {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  margin-bottom: 2rem;
  min-width: 80rem;
}

.character-image-section {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.hero-side {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin-top: -3rem;
}

.hero-mid {
  border-radius: 16px;
  width: 40%;
  display: flex;
  justify-content: center;
}
.hero-mid img {
  border-radius: 16px;
  width: 100%;
}

/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/* Container for skill bars */
.hero-bar-container {
  border-radius: 10px;
  background-color: #2e2f36;
}
.stat-container {
  margin-bottom: 3rem;
  text-align: left;
  font-family: "ShareTechMono";
  align-self: stretch;
}
.stat-bold {
  font-weight: bold;
  cursor: default;
}

.stat-name {
  display: block;
  padding-bottom: 8px;
}

.hero-side:last-of-type .stat-name {
  text-align: right;
}

.stats {
  text-align: right; /* Right-align text */
  /* padding-top: 10px; Add top padding */
  /* padding-bottom: 10px; Add bottom padding */
  color: white; /* White text color */
  height: 5px;
  padding-top: 10px;
  border-radius: 10px;
}

.hero-navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: opacity 1s ease-in-out;
}

.hero-navigation-buttons.navigating {
  opacity: 0.3;
}

.fighter-main-stats {
  font-family: "ShareTechMono";
}

.go-training-range-button,
.go-arena-button,
.go-cave-button {
  width: 47%;
  border-radius: 16px;
  background: url("../../assets/send_to_training_bg.png") 0 -60px;
  height: 100px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background-position 1s ease-in-out, box-shadow 500ms ease,
    transform 500ms ease;
  animation-name: MOVE-BG-LEFT;
  animation-duration: 120s;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-family: "ShareTechMono";
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(0, 0, 0, 0.24),
    inset 0 2px 0 0 rgba(255, 255, 255, 0.1),
    inset 0 1px 5px 0 rgba(255, 255, 255, 0.2);
  color: #ffffff;
  letter-spacing: 1.92px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.go-cave-button.in-progress,
.go-training-range-button.in-progress,
.go-arena-button.in-progress {
  opacity: 0.4 !important;
  transform: none !important;
  cursor: default;
  animation-play-state: paused;
}

.hero-navigation-buttons.navigating .go-cave-button,
.hero-navigation-buttons.navigating .go-training-range-button,
.hero-navigation-buttons.navigating .go-arena-button {
  animation-play-state: paused;
  transform: translateY(0px) !important;
  box-shadow: none;
  cursor: default;
  opacity: 1;
}

.go-cave-button:hover,
.go-training-range-button:hover,
.go-arena-button:hover {
  box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.5);
  animation-play-state: paused;
  transform: translateY(-4px);
}

.go-cave-button:active,
.go-training-range-button:hover,
.go-arena-button:active {
  opacity: 0.9;
}

.go-arena-button {
  background-image: url("../../assets/send_to_arena_bg.png");
  background-position: 0px -60px;
  animation-name: MOVE-BG-RIGHT;
}

.go-cave-button {
  background-image: url("../../assets/send_to_cave.png");
  background-position: 0px -60px;
  animation-name: MOVE-BG-LEFT;
  width: 100%;
}

@keyframes MOVE-BG-LEFT {
  from {
    background-position: 0 -60px;
  }
  to {
    background-position: -969px -60px;
  }
}

@keyframes MOVE-BG-RIGHT {
  from {
    background-position: -969px -60px;
  }
  to {
    background-position: 0px -60px;
  }
}

.hidden-unless-small-screen {
  display: none;
}

.shown-unless-small-screen {
  display: flex;
}

.training-mode-container {
  max-width: 80rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 2rem;
  padding-top: 3rem;
  position: relative;
}

.training-icon {
  left: 24;
  top: -48px;
  position: absolute;
  width: 96px;
  height: 96px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

h1 {
  letter-spacing: 1px;
  font-family: "ShareTechMono";
}

p.hint {
  text-align: left;
  line-height: 32px;
}

.traits-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.train-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.train-trait-container {
  margin: 1rem 0;
  max-width: 80rem;
}

.current-trait-value {
  font-family: "ShareTechMono";
  width: 100px;
}

.current-trait-value > span {
  display: block;
  margin-bottom: 10px;
}

.train-trait-button {
  font-family: "ShareTechMono";
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 1rem;
  width: 200px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(0, 0, 0, 0.24),
    inset 0 2px 0 0 rgba(255, 255, 255, 0.1),
    inset 0 1px 5px 0 rgba(255, 255, 255, 0.2);
  transition: transform 500ms ease;
}

.train-trait-button[disabled] {
  background: #2e2f36 !important;
  opacity: 0.5;
  cursor: default;
  transform: none !important;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(0, 0, 0, 0.24),
    inset 0 2px 0 0 rgba(255, 255, 255, 0.1),
    inset 0 1px 5px 0 rgba(255, 255, 255, 0.2);
}

.train-trait-button:hover {
  box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.trait-progressbar {
  background: #2e2f36;
  width: 100px;
  overflow: hidden;
  border-radius: 50px;
}

.trait-progress {
  height: 5px;
  border-radius: 5px;
}

h3 {
  font-family: "ShareTechMono";
  text-align: left;
}

.arena-mode {
  background: #ad868c url("../../assets/arena_parallax_bg.png") bottom center
    repeat-x;
  margin-bottom: 2rem;
  padding: 2rem;
  min-height: 25rem;
  position: relative;
  overflow: hidden;
}

.arena-mode-parallax {
  position: absolute;
  width: 100%;
  height: 240px;
  bottom: 0;
  left: 0;
}

.arena-mode-parallax > div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* background: url("../../assets/arena_parallax_close.png") center bottom
    repeat-x; */
  background-position: center bottom;
  background-repeat: repeat-x;
  animation-name: PARALLAX;
  animation-duration: 240s;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.arena-mode-parallax-close {
  background-image: url("../../assets/arena_parallax_close.png");
}

.arena-mode-parallax-mid {
  background-image: url("../../assets/arena_parallax_mid.png");
  animation-duration: 340s !important;
}

.arena-mode-parallax-far {
  background-image: url("../../assets/arena_parallax_far.png");
  animation-duration: 560s !important;
}

@keyframes PARALLAX {
  from {
    background-position: 0 bottom;
  }
  to {
    background-position: -969px bottom;
  }
}

.looking-for-opponent {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.arena-mode h2,
.arena-mode p {
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "ShareTechMono";
}
.arena-mode h2 {
  font-weight: bold;
}

.arena-mode a {
  color: #2182cb;
  padding: 5px 20px;
  padding-right: 40px;
  border-radius: 8px;
  background: white url("../../assets/more-info-link.png") calc(100% - 15px)
    10px no-repeat;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  transition: transform 500ms ease-in-out;
}

.arena-mode a.cleared {
  background-color: transparent;
  box-shadow: none;
  text-decoration: underline;
  color: white;
  transform: none !important;
}

.arena-mode a:hover {
  transform: translateY(-2px);
}

.fighters-showcase {
  display: flex;
  margin-bottom: 2rem;
}

.fight-started-progress {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.match-is-ready-icon {
  width: 160px;
  height: 160px;
  background: url("../../assets/match_is_ready.png") no-repeat;
  background-size: contain;
  margin: 0 2rem;
}

.matched-view {
  z-index: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-fight-button {
  background: white url("../../assets/start-the-fight-icon.png") 24px 17px
    no-repeat;
  color: red;
  font-family: "ShareTechMono";
  padding: 15px 2rem;
  padding-left: 4rem;
  font-size: 24px;
  letter-spacing: 2px;
  border-radius: 100px;
  border: none;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;

  box-shadow: 0 0 45px 0 rgba(255, 0, 0, 0.5);
  text-shadow: 0 2px 4px rgba(190, 70, 70, 0.5);

  animation-name: BUTTON_SHADOW;
  animation-duration: 2s;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  transition: background 0.2s ease-in-out;
}

.start-fight-button:hover {
  background: red url("../../assets/start-the-fight-icon-active.png") 24px 17px
    no-repeat;
  color: white;
}

@keyframes BUTTON_SHADOW {
  0% {
    box-shadow: 0 0 45px 0 rgba(255, 0, 0, 0.3);
  }

  50% {
    transform: translateY(-4px);
    box-shadow: 0 0 45px 2px rgba(255, 0, 0, 0.8);
  }

  100% {
    box-shadow: 0 0 45px 0 rgba(255, 0, 0, 0.3);
  }
}

@media screen and (max-width: 674px) {
  .match-is-ready-icon {
    width: 48px;
    margin-top: 25px;
    height: 48px;
  }

  .fight-started-progress {
    width: 48px;

    margin-top: -20px;
  }

  .arena-mode {
    height: 35rem;
  }

  .traits-grid {
    grid-template-columns: 1fr;
  }

  .hero-container {
    flex-direction: column;
    min-width: 10vw;
  }

  .training-mode-container {
    max-width: 100vw;
  }

  .hero-side {
    width: 100%;
  }

  .character-image-section {
    width: 100%;
  }
  .hidden-unless-small-screen {
    display: block;
  }

  .shown-unless-small-screen {
    display: none;
  }

  .hero-navigation-buttons {
    flex-direction: column;
  }

  .go-training-range-button,
  .go-arena-button,
  .go-cave-button {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .go-arena-button {
    background-image: url("../../assets/send_to_arena_bg@2x.png");
    background-size: contain;
  }

  .go-cave-button {
    background-image: url("../../assets/send_to_arena_bg@2x.png");
    background-size: contain;
  }

  .go-training-range-button {
    background: url("../../assets/send_to_training_bg@2x.png") 0 -60px;
    background-size: contain;
  }
}
