.fighter-name {
  color: white;
  margin-top: 3rem;
}

.hero-container {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  margin-bottom: 3rem;
  min-width: 60vw;
}

.character-image-section {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.hero-side {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  margin-top: -3rem;
}

.hero-mid {
  border-radius: 16px;
  width: 40%;
  display: flex;
  justify-content: center;
}
.hero-mid img {
  border-radius: 16px;
  width: 100%;
}

/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/* Container for skill bars */
.hero-bar-container {
  border-radius: 10px;
  background-color: #2e2f36;
}
.stat-container {
  cursor: pointer;
  margin-bottom: 3rem;
  text-align: left;
  font-family: "ShareTechMono";
  align-self: stretch;
}
.stat-bold {
  font-weight: bold;
  cursor: default;
}

.stat-name {
  display: block;
  padding-bottom: 8px;
}

.hero-side:last-of-type .stat-name {
  text-align: right;
}

.stats {
  text-align: right; /* Right-align text */
  /* padding-top: 10px; Add top padding */
  /* padding-bottom: 10px; Add bottom padding */
  color: white; /* White text color */
  height: 5px;
  padding-top: 10px;
  border-radius: 10px;
}

.hero-navigation-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: opacity 1s ease-in-out;
}

.hero-navigation-buttons.navigating {
  opacity: 0.3;
}

.fighter-main-stats {
  font-family: "ShareTechMono";
}

.go-training-range-button,
.go-arena-button {
  width: 47%;
  border-radius: 16px;
  background: url("../../assets/send_to_training_bg.png") 0 -60px;
  height: 100px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: background-position 1s ease-in-out, box-shadow 500ms ease,
    transform 500ms ease;
  animation-name: MOVE-BG-LEFT;
  animation-duration: 120s;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-family: "ShareTechMono";
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.25),
    inset 0 -1px 2px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(0, 0, 0, 0.24),
    inset 0 2px 0 0 rgba(255, 255, 255, 0.1),
    inset 0 1px 5px 0 rgba(255, 255, 255, 0.2);
  color: #ffffff;
  letter-spacing: 1.92px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.go-training-range-button.in-progress,
.go-arena-button.in-progress {
  opacity: 0.2 !important;
  transform: none !important;
  cursor: default;
  animation-play-state: paused;
}

.hero-navigation-buttons.navigating .go-training-range-button,
.hero-navigation-buttons.navigating .go-arena-button {
  animation-play-state: paused;
  transform: translateY(0px) !important;
  box-shadow: none;
  cursor: default;
  opacity: 1;
}

.go-training-range-button:hover,
.go-arena-button:hover {
  box-shadow: 0 2px 21px 0 rgba(0, 0, 0, 0.5);
  animation-play-state: paused;
  transform: translateY(-4px);
}

.go-training-range-button:hover,
.go-arena-button:active {
  opacity: 0.9;
}

.go-arena-button {
  background-image: url("../../assets//send_to_arena_bg.png");
  background-position: 0px -60px;
  animation-name: MOVE-BG-RIGHT;
}

@keyframes MOVE-BG-LEFT {
  from {
    background-position: 0 -60px;
  }
  to {
    background-position: -969px -60px;
  }
}

@keyframes MOVE-BG-RIGHT {
  from {
    background-position: -969px -60px;
  }
  to {
    background-position: 0px -60px;
  }
}

.hidden-unless-small-screen {
  display: none;
}

.shown-unless-small-screen {
  display: flex;
}

@media screen and (max-width: 674px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-side {
    width: 100%;
  }

  .character-image-section {
    width: 100%;
  }
  .hidden-unless-small-screen {
    display: block;
  }

  .shown-unless-small-screen {
    display: none;
  }

  .hero-navigation-buttons {
    flex-direction: column;
  }

  .go-training-range-button,
  .go-arena-button {
    width: 100%;
    margin-bottom: 1rem;
  }
}
