.fighter-name {
  color: white;
  margin-top: 3rem;
}

.hero-container {
  display: flex;
  flex-direction: row;
  min-width: 50rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.hero-section {
  height: 400px;
}
.hero-side {
  width: 25%;
}
.hero-mid {
  border-radius: 16px;
  width: 50%;
  display: flex;
  justify-content: center;
}
.hero-mid img {
  border-radius: 16px;
  width: 100%;
}

/* Make sure that padding behaves as expected */
* {
  box-sizing: border-box;
}

/* Container for skill bars */
.hero-bar-container {
  border-radius: 10px;
  min-width: 10rem;
  background-color: #2e2f36;
}
.stat-container {
  margin: 1rem 1rem 0 1rem;
  cursor: pointer;
}
.stat-bold {
  font-weight: bold;
  cursor: default;
}

.hero-button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: space-between;
  height: 2rem;
  width: 100%;
}
.hero-button-container button {
  color: #1c1d21;
  background-color: #fff39e;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.stats {
  text-align: right; /* Right-align text */
  /* padding-top: 10px; Add top padding */
  /* padding-bottom: 10px; Add bottom padding */
  color: #1c1d21; /* White text color */
}

.hp {
  border-radius: 10px;
  background-color: #e02020;
} /* Green */
.strength {
  border-radius: 10px;
  background-color: #ff00b0;
} /* Blue */
.dexterity {
  border-radius: 10px;
  background-color: #65af53;
} /* Red */
.agility {
  border-radius: 10px;
  background-color: #00adff;
}
.intelligence {
  border-radius: 10px;
  background-color: #ff7232;
}
.durability {
  border-radius: 10px;
  background-color: #676fff;
}
