.fighter-stats-container {
  position: relative;
  width: 280px;
  height: 280px;
}

.fighter-right-stats,
.fighter-image-layer {
  position: absolute;
  top: 0;
  left: 0;
}

.fighter-avatar-location,
.fighter-avatar-character {
  width: 280px;
  height: 280px;
}

.fighter-avatar-location-training {
  background-image: url("../assets/location_training.png");
}

.fighter-avatar-location-cave {
  background-image: url("../assets/location_cave.png");
}

.fighter-avatar-location-arena {
  background-image: url("../assets/location_arena.png");
}

.fighter-image-container {
  width: 280px;
  height: 280px;
  position: relative;
  display: block;
}

.fighter-avatar-character-viking {
  background-image: url("../assets/fighter_viking.png");
}

.fighter-avatar-character-undead {
  background-image: url("../assets/fighter_undead.png");
}

.fighter-avatar-character-demon {
  background-image: url("../assets/fighter_demon.png");
}

.fighter-avatar-character-knight {
  background-image: url("../assets/fighter_knight.png");
}

.fighter-avatar-character-viking-level-1 {
  background-image: url("../assets/fighter_viking_1.png");
}

.fighter-avatar-character-undead-level-1 {
  background-image: url("../assets/fighter_undead_1.png");
}

.fighter-avatar-character-demon-level-1 {
  background-image: url("../assets/fighter_demon_1.png");
}

.fighter-avatar-character-knight-level-1 {
  background-image: url("../assets/fighter_knight_1.png");
}

.fighter-avatar-character-viking-level-2 {
  background-image: url("../assets/fighter_viking_2.png");
}

.fighter-avatar-character-undead-level-2 {
  background-image: url("../assets/fighter_undead_2.png");
}

.fighter-avatar-character-demon-level-2 {
  background-image: url("../assets/fighter_demon_2.png");
}

.fighter-avatar-character-knight-level-2 {
  background-image: url("../assets/fighter_knight_2.png");
}

.fighter-avatar-character-viking-level-3 {
  background-image: url("../assets/fighter_viking_3.png");
}

.fighter-avatar-character-undead-level-3 {
  background-image: url("../assets/fighter_undead_3.png");
}

.fighter-avatar-character-demon-level-3 {
  background-image: url("../assets/fighter_demon_3.png");
}

.fighter-avatar-character-knight-level-3 {
  background-image: url("../assets/fighter_knight_3.png");
}

.fighter-avatar-character-viking-level-4 {
  background-image: url("../assets/fighter_viking_4.png");
}

.fighter-avatar-character-undead-level-4 {
  background-image: url("../assets/fighter_undead_4.png");
}

.fighter-avatar-character-demon-level-4 {
  background-image: url("../assets/fighter_demon_4.png");
}

.fighter-avatar-character-knight-level-4 {
  background-image: url("../assets/fighter_knight_4.png");
}
